<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>proje</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JspRoutes</servlet-name>
    <servlet-class>com.main.JspRoutes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JspRoutes</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/products</url-pattern>
    <url-pattern>/orders</url-pattern>
    <url-pattern>/profile</url-pattern>
    <url-pattern>/product</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/about</url-pattern>
    <url-pattern>/contact</url-pattern>
    <url-pattern>/orderAdd</url-pattern>
    <url-pattern>/orderDelete</url-pattern>
    <url-pattern>/admin/home</url-pattern>
    <url-pattern>/admin/login</url-pattern>
    <url-pattern>/admin/product</url-pattern>
    <url-pattern>/admin/AdminLoginServlet</url-pattern>
    <url-pattern>/admin/logout</url-pattern>
    <url-pattern>/admin/editProduct</url-pattern>
    <url-pattern>/admin/editCustomer</url-pattern>
    <url-pattern>/admin/customer</url-pattern>
    <url-pattern>/admin/order</url-pattern>
    <url-pattern>/admin/orderDelete</url-pattern>
  </servlet-mapping>
</web-app>